.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 85px;
}


@media (min-width: @tablet-width) {
  .page-header__logo }


@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 648px;
  }
}
